@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.homeAnimation {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  /* min-width: 230px;
  max-width: 315px; */
  width: 100vh;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
figure.homeAnimation *,
figure.homeAnimation *:before,
figure.homeAnimation *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.homeAnimation img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.homeAnimation .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}

/* y-line */
figure.homeAnimation .title:before,
figure.homeAnimation .title:after {
  height: 2px;
  width: 185vh;
  position: absolute;
  content: '';
  background-color:white;
}
figure.homeAnimation .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.homeAnimation .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* x-line */

figure.homeAnimation .title div:before,
figure.homeAnimation .title div:after {
  width: 1.5px;
  height: 100vh;
  position: absolute;
  content: '';
  background-color:white;
}
figure.homeAnimation .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(10%);
  transform: translateY(100%);
}
figure.homeAnimation .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.homeAnimation h2,
figure.homeAnimation h4 {
  margin: 0;
  /* text-transform: uppercase; */
}
figure.homeAnimation h2 {
  font-weight: 200;
  color:red;
  font-weight:bold;
}

.title{
  font-size:25px;
  letter-spacing: 0.1em;
}

/* Start-box */
figure.homeAnimation h4 {
  
  background-color:red;
  padding:50px 50px;
  margin:5px;
  color: black;
  font-weight: bold;
  letter-spacing: 0.1
}

figure.homeAnimation h4:hover{
  opacity: 0.9;
  backface-visibility: hidden;
}



figure.homeAnimation figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Track what you read..aut LOUD! */

figure.homeAnimation figcaption p {
  font-weight: bold;
  font-size:100px;
  margin: 0;
  color:white;
}
figure.homeAnimation a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

figure.homeAnimation:hover img,
figure.homeAnimation.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.40;
  opacity: 0.35;
}
figure.homeAnimation:hover .title:before,
figure.homeAnimation.hover .title:before,
figure.homeAnimation:hover .title:after,
figure.homeAnimation.hover .title:after,
figure.homeAnimation:hover .title div:before,
figure.homeAnimation.hover .title div:before,
figure.homeAnimation:hover .title div:after,
figure.homeAnimation.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.homeAnimation:hover .title:before,
figure.homeAnimation.hover .title:before,
figure.homeAnimation:hover .title:after,
figure.homeAnimation.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.homeAnimation:hover figcaption,
figure.homeAnimation.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}



figure {
  width: 100vw !important;
  height: 100vh;
}

img {
  width: 100vw !important;  
}

body {
  margin: 0 !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

